.top-header{
  height: 130px;
  width: 100%;
  background-color: #909090;
  opacity: 0.6;
}

.top-out{
  display: block;
  color: #E8E8E8;
  margin-left: auto;
  width: 85px;
  height: 35px;
  font-size: 20px;
  margin-right: 0px;
  cursor:pointer;
  opacity: 0.5;
  transition-duration:1s;
}

.top-out:hover{
  opacity: 1;
  font-size: 21px;
}

.top-log{
  color: #E8E8E8;
  width: 135px;
  margin-left: auto;
  margin-right: auto;
  font-size: 55px;
  font-family: "Apple Chancery";
  cursor:pointer;
  letter-spacing: 5px;
}

.log{
  color: #E8E8E8;
}


@media screen and (max-width: 414px){
.top-out:hover{
  opacity: 1;
  font-size: 20px;
}
}

@media screen and (min-width: 700px) and (max-width: 1024px){
  .top-out:hover{
    opacity: 1;
    font-size: 20px;
  }
  }