.sign-up-box{
  text-align: center;
  opacity: 0.7;
}

.sign-up-name{
  color: white;
  margin: 30px 0 40px 0;
  font-size: 45px;
  font-weight: normal;
}

.sign-up-btn{
  display: block;
  margin: 0 auto;
  width: 290px;
  height: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 5px;
  border: 0;
}

.sign-up-btn::placeholder{
  text-align: center;
}

.submit-sign-up-btn{
  display: block;
  margin: 0 auto;
  width: 140px;
  height: 40px;
  font-size: 22px;
  background-color: #A29C9C;
  border: 0;
  color: white;
  cursor: pointer; 
  transition-duration: 0.5s;
}

.submit-sign-up-btn:hover{
  border-radius: 30px;
  color: #785050;
}

/* ===============iPhoneX以降画面サイズ================= */
@media screen and (max-width: 414px){
  .sign-up-btn{
    height: 50px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .submit-sign-up-btn:hover{
    border-radius: 0px;
    color: white;
  }
}
/* ===================================================== */

/* ===============iPadからiPadProまでの画面サイズ=========== */
@media screen and (min-width: 700px) and (max-width: 1024px){
  .sign-up-name{
    font-size: 53px;
  }
  .sign-up-btn{
    width: 70vw;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 60px;
    font-size: 25px;
  }
  .submit-sign-up-btn{
    width: 35vw;
    height: 7vh;
    font-size: 33px;
  }
  .submit-sign-up-btn:hover{
    border-radius: 0px;
    color: white;
  }
}
/* ===================================================== */